<section class="bg-gray-900 text-white leading-snug p-12">
  <p class="font-medium mb-1 text-lg">JavaScript Framework Diet</p>
  <div class="mb-12 text-gray-400 text-xs">
    <p class="mb-2">JavaScript frameworks are great, but overused. Adding small bits of interactivity to an interface shouldn't mean installing kilobytes of dependencies and introducting complex build tools.</p>
    <p class="mb-2">It's time for a diet. I'm challenging you to build something without a framework. This series is meant to teach the foundations of building apps without a client-side framework.</p>
    <p>Series under development, posts are added on a weekly-ish basis.</p>
  </div>
  <ol class="toc-list | text-sm">
    <li><span>Introduction</span></li>
    <li><span><a href="/javascript-framework-diet/dom-basics-part-1">DOM basics part 1</a></span></li>
    <li><span><a href="/javascript-framework-diet/dom-basics-part-2">DOM basics part 2</a></span></li>
    <li class="text-gray-600"><span>Event delegation</span></li>
    <li class="text-gray-600"><span>Transitions</span></li>
    <li class="text-gray-600"><span>Dropdowns</span></li>
    <li class="text-gray-600"><span>Modals part 1</span></li>
    <li class="text-gray-600"><span>Modals part 2</span></li>
  </ol>
</section>
